<div class="card">

    <div class="card-body ">
        <h5 class="card-title ">Listado</h5>




        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>idOrden</th>
                    <th>resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let XmlResultado of listXmlResultados">
                    <td>{{XmlResultado.id}}</td>
                    <td>{{XmlResultado.idOrden}}</td>
                    <td>{{XmlResultado.resultado}}</td>
                </tr>
            </tbody>





        </table>



    </div>
</div>